/**** Buttons ****/
 #btnBack {
	top: 5%;
	left: 4%;
	z-index: 99;
	width: auto;
	height: 1% !important;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: absolute;
	bottom: 0px;
	z-index: 1;
	
}

#btnBack img {
	width: 55%;
	
}

.purple-white-btn {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
	padding:12px 32px;
	margin-top: 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}
.purple-white-btn:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.purple-white-btn:active {
	position:relative;
	top:1px;
}

.white-purple-btn {
	border: 1px solid #c584f3;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    color: #9752cc;
    font-size: 16px;
    padding: 13px 32px;
    text-decoration: none;
}


/**** Colors ****/


body{
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: Arial;
	background-image: url("../images/balloons-background.jpg");
	background-size: cover;
	
}

.balloon{
	width: 100px;
	height: 200px;
	top: 100vh;
	position: absolute;
	z-index: 11;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.plane{
    position: absolute;
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	z-index: 10;
}

.balloon-red{
	background-image: url(../images/balloon-red.png);
}
.balloon-yellow{
	background-image: url(../images/balloon-yellow.png);
}
.balloon-blue{
	background-image: url(../images/balloon-blue.png);
}
.balloon-violet{
	background-image: url(../images/balloon-violet.png);
}
.balloon-green{
	background-image: url(../images/balloon-green.png);
}
.balloon-black{
	background-image: url(../images/balloon-black.png);
}
.balloon-orange{
	background-image: url(../images/balloon-orange.png)
}

.plane-blue{
	background-image: url(../images/plane.png);
}

.total-shadow {
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.6);
	/*display: flex;*/
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	position: relative;
	color: #293c6b;
}

.total-shadow h4 {
	font-weight: bolder;
	font-size: 1.5em;
}

.total-block{
	background: #fff;
	padding: 10px 100px 40px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.lose{
	display: none;
}
.win{
	display: none;
}

.score-block{
	background: #efefef;
	width: 600px;
	height: 100px;
	justify-content: center;
	align-items: center;
	border-radius: 20px 20px 0 0;
	position: absolute;
	bottom: 0;
	left: calc(50% - 300px);
	padding: 5px 0;
	display: none;
}
.score-block p {
	text-align: center;
	font-weight: bold;
}
.score-block p {
	color: #293c6b;
}
.point-row p {
	color: #9752cc;
}
.score-row {
	width: 100%;
	float: left;
}
.start-game-window {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.instructions {
	background: rgba(255, 255, 255, 0.41);
    text-align: center;
    box-shadow: -1px -1px 20px 1px #56565654;
	padding: 50px;
	color: #293c6b;
}

.instructions div:nth-child(2) {
    margin-top: 50px;
}

ul {
	color: #293c6b;
	font-size: 2em;
	text-align: center;
}

li {
	text-align: left;
	font-size: 20px;
	line-height: 1.5em;
}

#rdy-to-play {
	font-size: 1.5em;
}














